@tailwind base;
@tailwind components;
@tailwind utilities;


/* header nav a {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
} */
 
header nav a:hover {
  background-color: #e2b52e;
}